{% extends '__base.html' %}




{% block content %}

    <title>{{ post.title }}</title>

    <h1 class="display-1">{{ post.title }}</h1>
    <h1>{{ post.created_date }}</h1>
    <h4>{{ post.content }}</h4>

{% endblock %}
{#	 <div class="card shadow my-3 p-5">#}
{#                <h1>{{ post.title }}</h1>#}
{#                <p class="small text-muted mt-2">{{ post.auther }}</p>#}
{#                <p class="mt-2">{{ post.information }}</p>#}
{#            </div>#}
{#        #}
{#            <div class="card shadow my-3 p-5">#}
{#                <h3>Comments:</h3>#}
{#                    No comments yet! Be the first one.#}
{#            </div>#}
{#        #}
{#            <div class="card shadow my-3 p-5">#}
{#                <h3>Add new comment:</h3>#}
{#                #}
{#            </div>#}
